div{
    font-size: 50px;
    color:green ;
}
i.fas.fa-address-book {
    font-size: 50px;
    color: brown;
}

i.fab.fa-android {
    font-size: 50px;
    color: brown;
}

i.fab.fa-apple {
    font-size: 50px;
    color: brown;
}
i.bi.bi-balloon-fill {}

i.bi.bi-balloon-fill {
    font-size: 50px;
    color: red;
}

i.bi.bi-bank2 {
    font-size: 50px;
    color: red;
}

font {}

i.bi.bi-twitter {
    font-size: 50px;
    color: red;
}
i.fi.fi-rr-envelope {
    font-size: 50px;
    color: blue;
}

i.fi.fi-rr-clock {
    font-size: 50px;
    color: blue;
}

i.bx.bx-cycling {
    font-size: 50px;
    color: blue;
}