div{
    font-size: 50px;
    color:green ;
}
i.fas.fa-address-book {
    font-size: 50px;
    color: brown;
}

i.fab.fa-android {
    font-size: 50px;
    color: brown;
}

i.fab.fa-apple {
    font-size: 50px;
    color: brown;
}